.cart_item{
    width: 312px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &_img{
        height: 50px;
        width: 50px;
        img{
            width: 100%;
            border-radius: 4px;
        }
    }

    &_info{
        width: 220px;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #69707D;
        position: relative;
        
        &_price{
            position: absolute;
            top: 26px;
            left: 71px;
            font-weight: 700;
             color: #1D2026;
        }

        
    }

    &_bin{
        cursor: pointer;
        width: 14px;
        height: 16px;
        border: 0;
        background: none;
        img{
            width: 100%;
        }
    }
    
}