.promo{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../img/first_bg.jpg) center (center/cover) no-repeat ;
    padding: 206px 0 362px 0;
    text-align: left;
    
}