.side-bar{
    position: fixed;
    bottom: 220px;
    left: -100px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-90deg);
    &_descr{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000; 
    }
    .line{
        width: 70px;
        height: 2px;
        background-color: #000000;
        margin: 0 15px 0 15px;
        border: 0;
    }
    
}

