.skills{
    min-height: 1024px;
    width: 100%;

    &_container{
        width: 100%;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-columns: repeat(4,1fr);
        gap: 13px ;
        &_item{
            width: 270px;
            min-height: 270px;
            border: 1px solid black;
            padding: 30px;
            .item{
                &_title{
                    margin-top: 20px;
                }
                &_descr{
                    margin-top: 15px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #000000;
                }
                
            }
            
        }
        #jquery{
            padding-top: 45px;
            .item_title{
                margin-top: 33px;
            }
        }
    }

    .progress-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px 45px;
        position: relative;
        margin-top: 120px;
        &_item{
            position: relative;
            height: 70px;
            .title_fz14{
                @include before_circle;
                padding:8px 0 0 13px;
              
                &:before{
                    top: 0;
                    left: 0;
                }
            }

            .percent{
                position: absolute;
                top: 8px;
                right: 0;
                font-size: 14px;
                line-height: 21px;
                color: #000000;

            }

            .progress-bar{
                position: absolute;
                bottom:0;
                width: 100%;
                height: 14px;
                border-radius: 4px;
                background: #E8E4DE;
                &_main{
                    position: absolute;
                    background:$main-color;
                    height: 14px;
                    width: 75%;
                    border-radius: 4px;
                }
            }
        }
    }
}