.pagination_img{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 128px;
    gap: 15px;
    padding: 40px 0;
    img{
        cursor: pointer;
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
}
.swiper-slide{
    width: 445px;
    height: 445px;
    border-radius: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        
    }
}
.swiper-pagination-bullet{
    border:none;
    background:transparent;
    opacity: 1;
}

.bullet_img{
    background:white; 
    width: 88px;
    height: 88px;
    position: absolute;
    text-align: center;
    z-index: 1;
    opacity: 1;
    border-radius: 10px;
    &_active{
        // opacity: 0.5;

        img{
            border: 2px solid #FF7E1B;
            opacity: 0.5;
        }
        
    }
    img{
        width: 100%;
        height: 100%;
    }
}

.img_displayer{
    background:black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor:pointer;
    
}



@media (max-width:576px){
    .pagination_img{
        display: none;
    }
    .swiper{
        height: 100%;
    }
    .swiper-slide{
        width: 375px;
        height:300px;
        
    }
}